/////////////////////////////////////
//REPONSE MANAGER
@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (max-width: 425px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (min-width: 426px) {
      @content;
    }
  }
  @if $breakpoint == mobile-device {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == laptop-s {
    @media only screen and (min-width: 769px) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1441px) {
      @content;
    }
  }
  @if $breakpoint == desktop-l {
    @media only screen and (min-width: 1921px) {
      @content;
    }
  }
}

////////////////////////////////////
//UTILITIES
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center--col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin container {
  @include respond(mobile) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include respond(tablet) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include respond(laptop s) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  @include respond(laptop) {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  @include respond(desktop) {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

.container {
  @include container;
}

.page-start {
  padding-top: 10rem;
  @include respond(laptop) {
    padding-top: 7rem;
  }
  @include respond(mobile) {
    padding-top: 5rem;
  }
}

.ant-spin {
  @include flex-center;
}

////////////////////////////////////
//PADDINGS
@for $i from 1 to 16 {
  .pt-#{$i} {
    padding-top: $i + rem;
  }
  .pr-#{$i} {
    padding-right: $i + rem;
  }
  .pb-#{$i} {
    padding-bottom: $i + rem;
  }
  .pl-#{$i} {
    padding-left: $i + rem;
  }
}
