////////////////////////////////////\
//COLORS
$text: #000000;
$link: #1890ff;
$bg: #ffffff;
$primary: #1890ff;
$grey: #f2f3f3;
$secondary: #b73439;
$tertiary: #3eb549;
$dark-grey: #7b8397;
$dark-grey2: rgba(255, 255, 255, 0.57);
