/////////////////////////////////////
//COLORS

//BODY
$text: #000;

//NAV
$nav-border-bottom: lighten(#000, 80);
$nav-bg: #fff;
$nav-link: #1890ff;
$nav-dropdown-bg: darken(#fff, 20);

//Hero
$hero-heading: #fff;

//POST YOUR AD
$post-ad-border: lighten(#000, 80);

//VEHICLE CATAGORY
$vehicle-catagory-bg: #f2f3f3;

//VEHICLE
$vehicle-feature-bg: #f2f3f3;

////////////////////////////////////
//COLORS
$link: #1890ff;
$bg: #ffffff;
$primary: #1890ff;
$grey: #f2f3f3;
$secondary: #b73439;
$tertiary: #3eb549;
$dark-grey: #7b8397;
$dark-grey2: rgba(255, 255, 255, 0.57);
