.post-adv-form {
  h3 {
    span {
      display: block;
      font-size: 1.6rem;
    }
    margin-bottom: 3rem;
  }
  .ant-checkbox-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0.5rem;
    .ant-checkbox-group-item {
      width: max-content;
    }
  }
}
